<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="bootstrap-3.3.4-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="font-awesome-4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<div id="app">
  <div class="logo">
      <i class="fa fa-users"></i>
      <p>座位表</p>
  </div>
  <div class="zuo">
     <div class="container">
         <div class="row">
             <div class="col-md-12">
                 <i class="fa fa-caret-up"></i>
                 <span>使用说明</span>
                 <p class="er">点击学员信息可以来回切换选中效果;</p>
             </div>
               <div class="xian">
                <div class="container">
                    <div class="row">
                        <div class="col-md-5"></div>
                        <div class="col-md-2"><p>
                            座位
                        </p></div>
                        <div class="col-md-5"></div>
                    </div>
                </div>
                </div>
         </div>
     </div>
  </div>
    <div class="zu">
        <div class="container">
            <div class="row">
                <div class="col-md-3" v-for="(arr,index) in arrs">
                    <p>一组</p>
                    <div class="kuang" v-for="(ar,index2) in arr" @click="btn(index,index2)" :class="{yan:arrs[index][index2].bool}">
                        <div class="col-md-2">
                            <i class="fa fa-vcard"></i>
                    </div>
                        <div class="col-md-10">
                            <div class="col-md-7">
                                <div class="xin">
                                    <i class="fa fa-desktop"></i>
                                    <p>{{ar.seat}}</p>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <p class="eee">{{ar.name}}</p>
                            </div>
                        </div>
                        <span class="rrr">{{ar.post}}</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
   <script src="jquery-1.11.1.min.js"></script>
    <script src="https://cdn.bootcss.com/vue/2.5.16/vue.js"></script>
  <script src="https://cdn.bootcss.com/vue-resource/1.5.1/vue-resource.js"></script>
    <script src="js/script.js"></script>
</body>
</html>